@(model: ArticlePage)(implicit request: RequestHeader)

@import conf.Switches._
@import views.BodyCleaner


@defining(model.article) { article =>
        <style>
            .article-lofi { pointer-events: none; }
            .article-lofi aside,
            .article-lofi video,
            .article-lofi audio,
            .article-lofi img,
            .article-lofi figcaption,
            .article-lofi figure { display: none; }
            .article-lofi a { color: initial; text-decoration: none; }
            .article-lofi * { font-weight: normal; }
        </style>
        <div class="article-lofi">
            @BodyCleaner(article, article.body)
        </div>
}
