@(metaData: model.MetaData)(implicit request: RequestHeader)

@import common._
@import views.support.RenderClasses

@defining(Edition(request).navigation) { navigation =>
    <div class="@RenderClasses(Map(
                    ("navigation", true),
                    ("js-navigation-footer", true),
                    ("navigation--collapsed", true)
                ))">
        <div class="gs-container">
            <div class="navigation__inner" aria-hidden="true">
                <div class="navigation__scroll">
                    <div class="navigation__container navigation__container--second" data-component="footer-nav">
                        @fragments.nav.topNavigation(metaData, navigation)
                    </div>
                </div>
                <a class="navigation__toggle js-navigation-toggle" href="#footer-nav" data-link-name="nav : allSections" data-target-nav="js-navigation-footer">
                    <i class="burger-icon"></i>
                    <span class="navigation__toggle-label navigation__toggle-label--open"
                    aria-haspopup="true" aria-controls="all-sections-popup" aria-label="view all sections">all<span class="navigation__toggle-label__extra"> sections</span></span>
                    <span class="navigation__toggle-label navigation__toggle-label--close" aria-label="close all sections">close</span>
                </a>
            </div>
            <div class="navigation__expandable js-navigation-placeholder" data-component="all-footer-nav" data-link-name="global navigation: footer : sections">
                <!--[if (gt IE 9)|(IEMobile)]><!-->
                    <noscript id="mega-nav-src">
                <!--<![endif]-->
                <!--[if (lte IE 9)|(IEMobile)]>
                    <div id="mega-nav-src">
                <![endif]-->
                        @fragments.nav.globalNavigation(metaData)
                <!--[if (lte IE 9)|(IEMobile)]>
                    </div>
                <![endif]-->
                <!--[if (gt IE 9)|(IEMobile)]><!-->
                    </noscript>
                <!--<![endif]-->
                <script>
                    (function (isNotModern) {
                        if (isNotModern) {
                            var megaNavSrc = document.getElementById("mega-nav-src"),
                                footer = document.querySelector('.js-navigation-footer'),
                                classes = footer.className;
                            classes += ' ' + "navigation--expanded";
                            classes = classes.replace("navigation--collapsed", '');
                            footer.className = classes;
                            megaNavSrc.parentNode.innerHTML = megaNavSrc.textContent;
                        }
                    })(!guardian.isModernBrowser);
                </script>
            </div>
        </div>
    </div>
}
