.diduknow {
    width: 300px;
    height: 340px;
    position: relative;
    background: transparent url('http://localhost:9000/assets/stylesheets/climate-change-background.png') 0 0 no-repeat;
    text-align: center;
    color: #ffffff;
}

.diduknow__title {
    margin: 0 auto;
    padding-top: 90px;
    font-size: 24px;
    font-weight: 900;
    line-height: 1.1;
    width: 70%;
}

.diduknow__txt {
    width: 50%;
    margin: 0 auto;
    padding-top: 10px;
    font-size: 12px;
    line-height: 1.2;
}

.diduknow__btn {
    width: 131px;
    height: 37px;
    background: transparent url('http://localhost:9000/assets/stylesheets/saveplanet.png') 0 0 no-repeat;
    position: absolute;
    bottom: 60px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-decoration: underline;
    font-size: 12px;
    line-height: 1;
    color: #ffffff;
}

.diduknow__link {
    position: absolute;
    bottom: 45px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-decoration: underline;
    font-size: 10px;
    line-height: 1;
    color: #abd8f2;
}
