$show-more-icon: (
    width: 32px,
    height: 32px,
    space-between: 2px // to avoid overlaps/bleeding on zoom
);

.collection__show-more,
.collection__show-more:hover {
    background: transparent;
    color: $c-neutral1;
    border-color: $c-neutral1;
    padding-left: 0;

    .i {
        display: inline-block;
        width: 24px;
        height: 24px;
        vertical-align: middle;
        margin-left: 7px;
        margin-right: 3px;
    }
}
