.notifications--open {
    overflow: hidden;
}

.site-notifications__count {
    position: absolute;
    top: 0;
    left: 25px;
    height: 1em;
    line-height: 1;
    @include fs-textSans(1);
    color: colour(guardian-brand-light);
    background: colour(guardian-brand);
    padding: 0 0 3px 2px;
    border-bottom-left-radius: 15px;
    position: absolute;
}

#site-notifications__sheet {
    display: none;
    position: fixed;
    top: 43px;
    left: 5px;
    right: 5px;
    background-color: fade-out(#eee, .025);
    z-index: 2;
    overflow-x: hidden;
    overflow-y: auto;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
    max-height: calc(100% - 50px);

    // transform: translateY(-100%);

    .notifications--open & {

        display: block;
        // @include transition(
        //     opactiy 1000ms
        // );
        // transform: translateY(0);

    }
}

.site-notifications__list {
    padding: $gs-baseline $gs-gutter  * .5;
}

.site-notification {
    background-color: #fff;
    box-shadow: 0 1px 2px fade-out(black, .9);

    & + .site-notification {
        margin-top: $gs-baseline;
    }
}

.site-notification--story {
    .fc-item {
        padding: 0;
        margin: 0;
    }
}

.site-notification--none {
    @include fs-textSans(1);
    text-align: center;
    color: #999;
    padding: 10px;
}

.site-notification--live-update {
    .block-elements>* {
        margin: 0 $gs-gutter * .5;
    }
}

.site-notification--comment {
    font-family: $f-sans-serif-text;
    @include font-size(14, 20);
    padding: 2px 10px;
}
