$offline-transition: .5s;

.offline {
    // .facia-page,
    .site-message--footer,
    .l-footer__primary,
    .colophon {
        display: none;
    }

    .l-footer__misc {
        border: 0;
    }
}

.brand-bar {
    [data-component="subscribe"],
    [data-component="search"],
    [data-component="guardian-services"] {
        opacity: inherit;
        @include transition(opacity $offline-transition);

        .offline & {
            opacity: 0;
            pointer-events: none;
        }
    }
}

// .l-side-margins{
//     transform: translateY(0);
//     @include transition(transform $offline-transition);

//     .offline & {
//         z-index: 2;
//         transform: translateY(-36px);
//     }
// }

.navigation {
    opacity: 1;
    max-height: 36px;
    @include transition(
        opacity $offline-transition,
        max-height $offline-transition
    );

    .offline & {
        opacity: 0;
        max-height: 0;
    }
}

.l-header-main:before {
    content: 'offline';
    position: absolute;
    right: $gs-gutter / 2;
    top: $gs-baseline * 2.25;
    @include fs-textSans(1);
    color: colour(guardian-brand-light);
    opacity: 0;
    @include transition(opacity $offline-transition);

    .offline & {
        opacity: 1;
    }
}


#header {
    @include transition(-webkit-filter $offline-transition);
    -webkit-filter: none;

    .offline & {
        -webkit-filter: brightness(0.9) contrast(1) grayscale(.6);
    }
}

.l-side-margins {
    opacity: 1;
    @include transition(opacity $offline-transition);

    .offline & {
        pointer-events: none;
        opacity: 0;
    }
}

#offline-message {
    display: none;
    position: absolute;
    top: 10%;
    left: 20%;
    right:20%;
    color: colour(neutral-2);

    p:nth-of-type(1) {
    }

    p:nth-of-type(2) {
        font-size: .8em;
    }

    .offline & {
        display: block;
    }
}
