@(model: ArticlePage)(implicit request: RequestHeader)
@import conf.Switches._

@defining((model.article, model.storyPackage)) { case (article, storyPackage) =>
<div class="facia-container facia-container--layout-article">
    <section class="container container--special">
        <div class="facia-container__inner">
            <div class="container__border tone-news tone-accent-border"></div>
            <div class="container__header">
                <h2 class="container__title tone-news tone-background">
                    <span class="container__title__label u-text-hyphenate">
                        Saved for later
                    </span>
                </h2>
            </div>
            <div class="container__body">
                <div class="facia-slice-wrapper">
                    <ul class="u-unstyled l-row l-row--items-4 l-row--layout-m facia-slice">
                        <li class="facia-slice__item facia-slice__item--volume-0 l-row__item">
                            <div class="item item--has-image item--has-no-discussion item--imageadjust-default tone-news" data-link-name="trail | 4">
                                <div class="item__container">
                                    <a href="http://www.theguardian.com/business/2014/jul/14/corporate-inversion-moving-head-office-tax-purposes" class="item__link tone-accent-border" data-link-name="article">
                                    </a>
                                    <div class="item__media-wrapper">
                                        <div class="item__image-container u-responsive-ratio js-image-upgrade" data-src="http://i.guim.co.uk/w-{width}/h--/q-95/sys-images/Guardian/Pix/pictures/2014/5/1/1398974968398/-Pfizer-set-to-make-highe-011.jpg">
                                            <img src="http://i.guim.co.uk/w-220/h--/q-95/sys-images/Guardian/Pix/pictures/2014/5/1/1398974968398/-Pfizer-set-to-make-highe-011.jpg" class="responsive-img" alt="" />
                                        </div>
                                    </div>
                                    <h2 class="item__title">
                                        Corporate inversion - moving the head office for tax purposes
                                    </h2>
                                    <div class="item__standfirst">
                                        International firms often shift their HQs to exploit tax regimes - a process particularly attractive at present to US companies
                                    </div>
                                    <div class="item__meta">
                                        <time class="item__timestamp js-item__timestamp" datetime="2014-07-14T08:01:03+0000" data-timestamp="1405324863000" data-relativeformat="short">
                                        <i class="i i-clock-light-grey"></i>
                                        <span class="timestamp__text" title="Published: 14 Jul 2014">41m</span>
                                        </time>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="facia-slice__item facia-slice__item--volume-0 l-row__item">
                            <div class="item item--has-discussion item--has-image item--imageadjust-default tone-news" data-discussion-closed="false" data-link-name="trail | 5">
                                <div class="item__container">
                                    <a href="http://www.theguardian.com/sustainable-business/2014/jul/14/social-compliance-rana-plaza-supply-chain-risk" class="item__link tone-accent-border" data-link-name="article">
                                    </a>
                                    <div class="item__media-wrapper">
                                        <div class="item__image-container u-responsive-ratio js-image-upgrade" data-src="http://i.guim.co.uk/w-{width}/h--/q-95/sys-images/Guardian/Pix/pictures/2014/7/11/1405118990329/53c26772-5530-4437-b8ca-6b311b3fbeee-620x372.jpeg">
                                            <img src="http://i.guim.co.uk/w-220/h--/q-95/sys-images/Guardian/Pix/pictures/2014/7/11/1405118990329/53c26772-5530-4437-b8ca-6b311b3fbeee-620x372.jpeg" class="responsive-img" alt="" />
                                        </div>
                                    </div>
                                    <h2 class="item__title">
                                        'End-to-end visibility': Reinventing how companies root out worker abuse
                                    </h2>
                                    <div class="item__standfirst">
                                        'Ethical audits' need reality checks and re-invention to save lives, cut risk
                                    </div>
                                    <div class="item__meta">
                                        <time class="item__timestamp js-item__timestamp" datetime="2014-07-14T08:01:03+0000" data-timestamp="1405324863000" data-relativeformat="short">
                                        <i class="i i-clock-light-grey"></i>
                                        <span class="timestamp__text" title="Published: 14 Jul 2014">8h</span>
                                        </time>
                            
                                        <span class="trail__count trail__count--commentcount">
                                            <a href="/sustainable-business/2014/jul/14/social-compliance-rana-plaza-supply-chain-risk#comments" data-link-name="Comment count">
                                                <i class="i i-comment-light-grey"></i>
                                                0 
                                                <span class="u-h">
                                                    comments
                                                </span>
                                            </a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="facia-slice__item facia-slice__item--volume-0 l-row__item">
                            <div class="item item--has-image item--has-no-discussion item--imageadjust-default tone-news" data-link-name="trail | 6">
                                <div class="item__container">
                                    <a href="http://www.theguardian.com/society/2014/jul/14/why-did-lady-butler-sloss-stand-down-child-abuse-inquiry" class="item__link tone-accent-border" data-link-name="article">
                                    </a>
                                    <div class="item__media-wrapper">
                                        <div class="item__image-container u-responsive-ratio js-image-upgrade" data-src="http://i.guim.co.uk/w-{width}/h--/q-95/sys-images/Guardian/Pix/pictures/2014/7/14/1405340808944/Westminster-child-abuse-c-012.jpg">
                                            <img src="http://i.guim.co.uk/w-220/h--/q-95/sys-images/Guardian/Pix/pictures/2014/7/14/1405340808944/Westminster-child-abuse-c-012.jpg" class="responsive-img" alt="" />
                                        </div>
                                    </div>
                                    <h2 class="item__title">
                                        Why did Lady Butler-Sloss stand down from the child abuse inquiry?
                                    </h2>
                                    <div class="item__standfirst">
                                        Claim of personal conflict of interest and disclosure that she kept allegations about bishop out of public domain proved fatal
                                    </div>
                                    <div class="item__meta">
                                        <time class="item__timestamp js-item__timestamp" datetime="2014-07-14T08:01:03+0000" data-timestamp="1405324863000" data-relativeformat="short">
                                        <i class="i i-clock-light-grey"></i>
                                        <span class="timestamp__text" title="Published: 14 Jul 2014">8h</span>
                                        </time>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="facia-slice__item facia-slice__item--volume-0 l-row__item">
                            <div class="item item--has-discussion item--has-image item--imageadjust-default tone-news" data-discussion-closed="false" data-link-name="trail | 7">
                                <div class="item__container">
                                    <a href="http://www.theguardian.com/film/filmblog/2014/jul/14/dawn-planet-apes-transformers-22-jump-street-us-box-office" class="item__link tone-accent-border" data-link-name="article">
                                    </a>
                                    <div class="item__media-wrapper">
                                        <div class="item__image-container u-responsive-ratio js-image-upgrade" data-src="http://i.guim.co.uk/w-{width}/h--/q-95/sys-images/Film/Pix/pictures/2013/12/20/1387544209211/Dawn-of-the-Planet-of-the-010.jpg">
                                            <img src="http://i.guim.co.uk/w-220/h--/q-95/sys-images/Film/Pix/pictures/2013/12/20/1387544209211/Dawn-of-the-Planet-of-the-010.jpg" class="responsive-img" alt="" />
                                        </div>
                                    </div>
                                    <h2 class="item__title">
                                        Dawn of Planet of the Apes swings to top of US box office as Transformers 4 heads for extinction
                                    </h2>
                                    <div class="item__standfirst">
                                        <p>
                                            Apes prequel draws $73m while Transformers slumps, but the buzz around Boyhood, Linklater's 12-year study of a growing boy, grows louder
                                        </p>
                                    </div>
                                    <div class="item__meta">
                                        <time class="item__timestamp js-item__timestamp" datetime="2014-07-14T08:01:03+0000" data-timestamp="1405324863000" data-relativeformat="short">
                                        <i class="i i-clock-light-grey"></i>
                                        <span class="timestamp__text" title="Published: 14 Jul 2014">8h</span>
                                        </time>
                            
                                        <span class="trail__count trail__count--commentcount">
                                            <a href="/film/filmblog/2014/jul/14/dawn-planet-apes-transformers-22-jump-street-us-box-office#comments" data-link-name="Comment count">
                                                <i class="i i-comment-light-grey"></i>
                                                4 
                                                <span class="u-h">
                                                    comments
                                                </span>
                                            </a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="facia-slice-wrapper">
                    <ul class="u-unstyled l-row l-row--items-4 l-row--layout-m facia-slice">
                        <li class="facia-slice__item facia-slice__item--volume-0 l-row__item">
                            <div class="item item--has-image item--has-no-discussion item--imageadjust-default tone-news" data-link-name="trail | 4">
                                <div class="item__container">
                                    <a href="http://www.theguardian.com/business/2014/jul/14/corporate-inversion-moving-head-office-tax-purposes" class="item__link tone-accent-border" data-link-name="article">
                                    </a>
                                    <div class="item__media-wrapper">
                                        <div class="item__image-container u-responsive-ratio js-image-upgrade" data-src="http://i.guim.co.uk/w-{width}/h--/q-95/sys-images/Guardian/Pix/pictures/2014/5/1/1398974968398/-Pfizer-set-to-make-highe-011.jpg">
                                            <img src="http://i.guim.co.uk/w-220/h--/q-95/sys-images/Guardian/Pix/pictures/2014/5/1/1398974968398/-Pfizer-set-to-make-highe-011.jpg" class="responsive-img" alt="" />
                                        </div>
                                    </div>
                                    <h2 class="item__title">
                                        Corporate inversion - moving the head office for tax purposes
                                    </h2>
                                    <div class="item__standfirst">
                                        International firms often shift their HQs to exploit tax regimes - a process particularly attractive at present to US companies
                                    </div>
                                    <div class="item__meta">
                                        <time class="item__timestamp js-item__timestamp" datetime="2014-07-14T08:01:03+0000" data-timestamp="1405324863000" data-relativeformat="short">
                                        <i class="i i-clock-light-grey"></i>
                                        <span class="timestamp__text" title="Published: 14 Jul 2014">41m</span>
                                        </time>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="facia-slice__item facia-slice__item--volume-0 l-row__item">
                            <div class="item item--has-discussion item--has-image item--imageadjust-default tone-news" data-discussion-closed="false" data-link-name="trail | 5">
                                <div class="item__container">
                                    <a href="http://www.theguardian.com/sustainable-business/2014/jul/14/social-compliance-rana-plaza-supply-chain-risk" class="item__link tone-accent-border" data-link-name="article">
                                    </a>
                                    <div class="item__media-wrapper">
                                        <div class="item__image-container u-responsive-ratio js-image-upgrade" data-src="http://i.guim.co.uk/w-{width}/h--/q-95/sys-images/Guardian/Pix/pictures/2014/7/11/1405118990329/53c26772-5530-4437-b8ca-6b311b3fbeee-620x372.jpeg">
                                            <img src="http://i.guim.co.uk/w-220/h--/q-95/sys-images/Guardian/Pix/pictures/2014/7/11/1405118990329/53c26772-5530-4437-b8ca-6b311b3fbeee-620x372.jpeg" class="responsive-img" alt="" />
                                        </div>
                                    </div>
                                    <h2 class="item__title">
                                        'End-to-end visibility': Reinventing how companies root out worker abuse
                                    </h2>
                                    <div class="item__standfirst">
                                        'Ethical audits' need reality checks and re-invention to save lives, cut risk
                                    </div>
                                    <div class="item__meta">
                                        <time class="item__timestamp js-item__timestamp" datetime="2014-07-14T08:01:03+0000" data-timestamp="1405324863000" data-relativeformat="short">
                                        <i class="i i-clock-light-grey"></i>
                                        <span class="timestamp__text" title="Published: 14 Jul 2014">8h</span>
                                        </time>
                            
                                        <span class="trail__count trail__count--commentcount">
                                            <a href="/sustainable-business/2014/jul/14/social-compliance-rana-plaza-supply-chain-risk#comments" data-link-name="Comment count">
                                                <i class="i i-comment-light-grey"></i>
                                                0 
                                                <span class="u-h">
                                                    comments
                                                </span>
                                            </a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="facia-slice__item facia-slice__item--volume-0 l-row__item">
                            <div class="item item--has-image item--has-no-discussion item--imageadjust-default tone-news" data-link-name="trail | 6">
                                <div class="item__container">
                                    <a href="http://www.theguardian.com/society/2014/jul/14/why-did-lady-butler-sloss-stand-down-child-abuse-inquiry" class="item__link tone-accent-border" data-link-name="article">
                                    </a>
                                    <div class="item__media-wrapper">
                                        <div class="item__image-container u-responsive-ratio js-image-upgrade" data-src="http://i.guim.co.uk/w-{width}/h--/q-95/sys-images/Guardian/Pix/pictures/2014/7/14/1405340808944/Westminster-child-abuse-c-012.jpg">
                                            <img src="http://i.guim.co.uk/w-220/h--/q-95/sys-images/Guardian/Pix/pictures/2014/7/14/1405340808944/Westminster-child-abuse-c-012.jpg" class="responsive-img" alt="" />
                                        </div>
                                    </div>
                                    <h2 class="item__title">
                                        Why did Lady Butler-Sloss stand down from the child abuse inquiry?
                                    </h2>
                                    <div class="item__standfirst">
                                        Claim of personal conflict of interest and disclosure that she kept allegations about bishop out of public domain proved fatal
                                    </div>
                                    <div class="item__meta">
                                        <time class="item__timestamp js-item__timestamp" datetime="2014-07-14T08:01:03+0000" data-timestamp="1405324863000" data-relativeformat="short">
                                        <i class="i i-clock-light-grey"></i>
                                        <span class="timestamp__text" title="Published: 14 Jul 2014">8h</span>
                                        </time>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="facia-slice__item facia-slice__item--volume-0 l-row__item">
                            <div class="item item--has-discussion item--has-image item--imageadjust-default tone-news" data-discussion-closed="false" data-link-name="trail | 7">
                                <div class="item__container">
                                    <a href="http://www.theguardian.com/film/filmblog/2014/jul/14/dawn-planet-apes-transformers-22-jump-street-us-box-office" class="item__link tone-accent-border" data-link-name="article">
                                    </a>
                                    <div class="item__media-wrapper">
                                        <div class="item__image-container u-responsive-ratio js-image-upgrade" data-src="http://i.guim.co.uk/w-{width}/h--/q-95/sys-images/Film/Pix/pictures/2013/12/20/1387544209211/Dawn-of-the-Planet-of-the-010.jpg">
                                            <img src="http://i.guim.co.uk/w-220/h--/q-95/sys-images/Film/Pix/pictures/2013/12/20/1387544209211/Dawn-of-the-Planet-of-the-010.jpg" class="responsive-img" alt="" />
                                        </div>
                                    </div>
                                    <h2 class="item__title">
                                        Dawn of Planet of the Apes swings to top of US box office as Transformers 4 heads for extinction
                                    </h2>
                                    <div class="item__standfirst">
                                        <p>
                                            Apes prequel draws $73m while Transformers slumps, but the buzz around Boyhood, Linklater's 12-year study of a growing boy, grows louder
                                        </p>
                                    </div>
                                    <div class="item__meta">
                                        <time class="item__timestamp js-item__timestamp" datetime="2014-07-14T08:01:03+0000" data-timestamp="1405324863000" data-relativeformat="short">
                                        <i class="i i-clock-light-grey"></i>
                                        <span class="timestamp__text" title="Published: 14 Jul 2014">8h</span>
                                        </time>
                            
                                        <span class="trail__count trail__count--commentcount">
                                            <a href="/film/filmblog/2014/jul/14/dawn-planet-apes-transformers-22-jump-street-us-box-office#comments" data-link-name="Comment count">
                                                <i class="i i-comment-light-grey"></i>
                                                4 
                                                <span class="u-h">
                                                    comments
                                                </span>
                                            </a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="facia-slice-wrapper">
                    <ul class="u-unstyled l-row l-row--items-4 l-row--layout-m facia-slice">
                        <li class="facia-slice__item facia-slice__item--volume-0 l-row__item">
                            <div class="item item--has-image item--has-no-discussion item--imageadjust-default tone-news" data-link-name="trail | 4">
                                <div class="item__container">
                                    <a href="http://www.theguardian.com/business/2014/jul/14/corporate-inversion-moving-head-office-tax-purposes" class="item__link tone-accent-border" data-link-name="article">
                                    </a>
                                    <div class="item__media-wrapper">
                                        <div class="item__image-container u-responsive-ratio js-image-upgrade" data-src="http://i.guim.co.uk/w-{width}/h--/q-95/sys-images/Guardian/Pix/pictures/2014/5/1/1398974968398/-Pfizer-set-to-make-highe-011.jpg">
                                            <img src="http://i.guim.co.uk/w-220/h--/q-95/sys-images/Guardian/Pix/pictures/2014/5/1/1398974968398/-Pfizer-set-to-make-highe-011.jpg" class="responsive-img" alt="" />
                                        </div>
                                    </div>
                                    <h2 class="item__title">
                                        Corporate inversion - moving the head office for tax purposes
                                    </h2>
                                    <div class="item__standfirst">
                                        International firms often shift their HQs to exploit tax regimes - a process particularly attractive at present to US companies
                                    </div>
                                    <div class="item__meta">
                                        <time class="item__timestamp js-item__timestamp" datetime="2014-07-14T08:01:03+0000" data-timestamp="1405324863000" data-relativeformat="short">
                                        <i class="i i-clock-light-grey"></i>
                                        <span class="timestamp__text" title="Published: 14 Jul 2014">41m</span>
                                        </time>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="facia-slice__item facia-slice__item--volume-0 l-row__item">
                            <div class="item item--has-discussion item--has-image item--imageadjust-default tone-news" data-discussion-closed="false" data-link-name="trail | 5">
                                <div class="item__container">
                                    <a href="http://www.theguardian.com/sustainable-business/2014/jul/14/social-compliance-rana-plaza-supply-chain-risk" class="item__link tone-accent-border" data-link-name="article">
                                    </a>
                                    <div class="item__media-wrapper">
                                        <div class="item__image-container u-responsive-ratio js-image-upgrade" data-src="http://i.guim.co.uk/w-{width}/h--/q-95/sys-images/Guardian/Pix/pictures/2014/7/11/1405118990329/53c26772-5530-4437-b8ca-6b311b3fbeee-620x372.jpeg">
                                            <img src="http://i.guim.co.uk/w-220/h--/q-95/sys-images/Guardian/Pix/pictures/2014/7/11/1405118990329/53c26772-5530-4437-b8ca-6b311b3fbeee-620x372.jpeg" class="responsive-img" alt="" />
                                        </div>
                                    </div>
                                    <h2 class="item__title">
                                        'End-to-end visibility': Reinventing how companies root out worker abuse
                                    </h2>
                                    <div class="item__standfirst">
                                        'Ethical audits' need reality checks and re-invention to save lives, cut risk
                                    </div>
                                    <div class="item__meta">
                                        <time class="item__timestamp js-item__timestamp" datetime="2014-07-14T08:01:03+0000" data-timestamp="1405324863000" data-relativeformat="short">
                                        <i class="i i-clock-light-grey"></i>
                                        <span class="timestamp__text" title="Published: 14 Jul 2014">8h</span>
                                        </time>
                            
                                        <span class="trail__count trail__count--commentcount">
                                            <a href="/sustainable-business/2014/jul/14/social-compliance-rana-plaza-supply-chain-risk#comments" data-link-name="Comment count">
                                                <i class="i i-comment-light-grey"></i>
                                                0 
                                                <span class="u-h">
                                                    comments
                                                </span>
                                            </a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="facia-slice__item facia-slice__item--volume-0 l-row__item">
                            <div class="item item--has-image item--has-no-discussion item--imageadjust-default tone-news" data-link-name="trail | 6">
                                <div class="item__container">
                                    <a href="http://www.theguardian.com/society/2014/jul/14/why-did-lady-butler-sloss-stand-down-child-abuse-inquiry" class="item__link tone-accent-border" data-link-name="article">
                                    </a>
                                    <div class="item__media-wrapper">
                                        <div class="item__image-container u-responsive-ratio js-image-upgrade" data-src="http://i.guim.co.uk/w-{width}/h--/q-95/sys-images/Guardian/Pix/pictures/2014/7/14/1405340808944/Westminster-child-abuse-c-012.jpg">
                                            <img src="http://i.guim.co.uk/w-220/h--/q-95/sys-images/Guardian/Pix/pictures/2014/7/14/1405340808944/Westminster-child-abuse-c-012.jpg" class="responsive-img" alt="" />
                                        </div>
                                    </div>
                                    <h2 class="item__title">
                                        Why did Lady Butler-Sloss stand down from the child abuse inquiry?
                                    </h2>
                                    <div class="item__standfirst">
                                        Claim of personal conflict of interest and disclosure that she kept allegations about bishop out of public domain proved fatal
                                    </div>
                                    <div class="item__meta">
                                        <time class="item__timestamp js-item__timestamp" datetime="2014-07-14T08:01:03+0000" data-timestamp="1405324863000" data-relativeformat="short">
                                        <i class="i i-clock-light-grey"></i>
                                        <span class="timestamp__text" title="Published: 14 Jul 2014">8h</span>
                                        </time>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="facia-slice__item facia-slice__item--volume-0 l-row__item">
                            <div class="item item--has-discussion item--has-image item--imageadjust-default tone-news" data-discussion-closed="false" data-link-name="trail | 7">
                                <div class="item__container">
                                    <a href="http://www.theguardian.com/film/filmblog/2014/jul/14/dawn-planet-apes-transformers-22-jump-street-us-box-office" class="item__link tone-accent-border" data-link-name="article">
                                    </a>
                                    <div class="item__media-wrapper">
                                        <div class="item__image-container u-responsive-ratio js-image-upgrade" data-src="http://i.guim.co.uk/w-{width}/h--/q-95/sys-images/Film/Pix/pictures/2013/12/20/1387544209211/Dawn-of-the-Planet-of-the-010.jpg">
                                            <img src="http://i.guim.co.uk/w-220/h--/q-95/sys-images/Film/Pix/pictures/2013/12/20/1387544209211/Dawn-of-the-Planet-of-the-010.jpg" class="responsive-img" alt="" />
                                        </div>
                                    </div>
                                    <h2 class="item__title">
                                        Dawn of Planet of the Apes swings to top of US box office as Transformers 4 heads for extinction
                                    </h2>
                                    <div class="item__standfirst">
                                        <p>
                                            Apes prequel draws $73m while Transformers slumps, but the buzz around Boyhood, Linklater's 12-year study of a growing boy, grows louder
                                        </p>
                                    </div>
                                    <div class="item__meta">
                                        <time class="item__timestamp js-item__timestamp" datetime="2014-07-14T08:01:03+0000" data-timestamp="1405324863000" data-relativeformat="short">
                                        <i class="i i-clock-light-grey"></i>
                                        <span class="timestamp__text" title="Published: 14 Jul 2014">8h</span>
                                        </time>
                            
                                        <span class="trail__count trail__count--commentcount">
                                            <a href="/film/filmblog/2014/jul/14/dawn-planet-apes-transformers-22-jump-street-us-box-office#comments" data-link-name="Comment count">
                                                <i class="i i-comment-light-grey"></i>
                                                4 
                                                <span class="u-h">
                                                    comments
                                                </span>
                                            </a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </section>
</div>
<article id="article" data-test-id="article-root"
    class="content content--article tone-@article.visualTone tone-@article.visualTone--article section-@article.sectionName.trim.toLowerCase.replaceAll("""[\s-]+""", "-")
    @if(article.isAdvertisementFeature && !article.isSponsored){article--advertisement-feature}"

    itemprop="mainContentOfPage" itemscope itemtype="@article.schemaType" role="main">

    @if(article.isComment || article.isFeature) {
        @fragments.headTonal(article)
        @if(article.isFeature && article.hasShowcaseMainPicture) {
            @fragments.mainMedia(article)
        }
    } else {
        @fragments.headDefault(article)
    }

    <div class="gs-container">
        <div class="content__main-column content__main-column--article">

            <div class="js-football-tabs football-tabs content__mobile-full-width"></div>

            @if(!(article.isFeature && article.hasShowcaseMainPicture)) {
                @fragments.mainMedia(article)
            }

            @fragments.witnessCallToAction(article)

            @fragments.contentMeta(article)

            <div class="from-content-api js-article__body" itemprop="@if(article.isReview){reviewBody} else {articleBody}">
                @BodyCleaner(article, article.body)
            </div>

            <div class="content__keywords" data-link-name="article keywords">
                @fragments.keywordList(article.keywords)
            </div>

            <div class="social-wrapper" data-component="share">
                @fragments.social(article)
            </div>

            <div class="after-article js-after-article"></div>

        </div>

        <div class="content__secondary-column" aria-hidden="true">
            <div class="mpu-container js-mpu-ad-slot"></div>
            <div class="js-components-container"></div>
        </div>

    </div>
</article>

@fragments.contentFooter(article, storyPackage)

}
